.devred {
  border: 1px solid red !important;
}
.devblue {
  border: 1px solid blue !important;
}
.devgreen {
  border: 1px solid green !important;
}
.devmag {
  border: 1px solid magenta !important;
}
