// !VA link_color is the same as primary-color
// !VA

:root {
--primary_color: #FCB900;
--secondary_color: #8DD1FF;
--marquee_color: #AD0110;
--primary_bg_color: #212121;
--primary_text_color: #000000;
--secondary_text_color: #7e7e7e;
--primary_font: 'Open Sans', sans-serif;
--secondary_font: 'Oswald', sans-serif;
--condensed_font: 'Roboto Condensed', sans-serif;
--primary_accent_color: #474747;
--secondary_accent_color: #959595;
--tertiary_accent_color: #E1E1E1;
--horiz_rule_color: #666666;
--primary_link_color: #FCB900;
--primary_hover_color:  #8DD1FF;
--secondary_link_color: #896400;
--secondary_hover_color: #FCB900;
--primary_icon_color: #d3d3d3;
--button_color: #841117;
--separator_color: #808080;
--tooltip_color: #725503;
}

